<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">
</head>
<body>
<div th:replace="home::header"></div>
<div class="container">
    <h1>Student Management System</h1>
    <hr>
    <h2>Add Event</h2>

    <form class="form-group" action="#" method="POST" th:action="@{/events/store}"
          th:object="${event}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstname">Title</label>
                <input class="form-control" placeholder="Title" id="firstname"
                       th:field="*{title}" type="text">
            </div>
            <div class="form-group col-md-6">
                <label for="abc">Price</label>
                <input class="form-control" placeholder="Price" id="abc"
                       th:field="*{price}" type="text">
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="lastname">Description</label>
                <textarea class="form-control" placeholder="Description" id="lastname"
                          th:field="*{description}" ></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Email">Start</label>
                <input class="form-control" placeholder="Start" id="Email"
                       th:field="*{startEvent}" type="datetime-local">
            </div>

            <div class="form-group col-md-6">
                <label for="password">End</label>
                <input class="form-control" placeholder="End" id="password"
                       th:field="*{endEvent}" type="datetime-local">
            </div>
        </div>
        <hr/>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Country">Country</label>
                <input type="text" class="form-control" id="Country"  placeholder="Enter a country name" th:field="*{address.country}">
            </div>
            <div class="form-group col-md-6">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="Enter a city" th:field="*{address.city}">
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="street">Street</label>
                <input type="text" class="form-control" id="street"  placeholder="Enter a street" th:field="*{address.street}">
            </div>
            <div class="form-group col-md-6">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" placeholder="Enter a Zip" th:field="*{address.zip}">
            </div>
        </div>

        <button class="btn btn-info col-2" type="submit"> Add Event</button>
    </form>

    <hr>

    <a th:href="@{/events/}"> Back to Event List</a>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>
